In [150]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt

**Reading the Data**

In [151]:
data = pd.read_csv('/content/beer-servings.csv')
data.head()

,Unnamed: 0,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0,Afghanistan,0.0,0.0,0.0,0.0,Asia
1,1,Albania,89.0,132.0,54.0,4.9,Europe
2,2,Algeria,25.0,0.0,14.0,0.7,Africa
3,3,Andorra,245.0,138.0,312.0,12.4,Europe
4,4,Angola,217.0,57.0,45.0,5.9,Africa

**Removing Null Data**

In [152]:
data['beer_servings'] = data['beer_servings'].fillna(data['beer_servings'].median())
data['beer_servings'].isna().sum()

0

In [153]:
for i in ['spirit_servings', 'wine_servings','total_litres_of_pure_alcohol']:
  data[i] = data[i].fillna(data[i].median())

In [154]:
data.isnull().sum()

Unnamed: 0                      0
country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

**Finding Outliers**

1. Beer Servings

In [155]:
Q1_b = np.percentile(data['beer_servings'],25, interpolation='midpoint')
Q2_b = np.percentile(data['beer_servings'],50, interpolation='midpoint')
Q3_b = np.percentile(data['beer_servings'],75, interpolation='midpoint')

In [156]:
IQR_b  = Q3_b - Q1_b
print(IQR_b)

150.0

In [157]:
low_lim_b = Q1_b-1.5*IQR_b
up_lim_b = Q3_b+1.5*IQR_b

In [158]:
print(low_lim_b)
print(up_lim_b)

-204.0
396.0

In [159]:
outlier_b = []
for x in data['beer_servings']:
  if((x>up_lim_b) or (x<low_lim_b)):
    outlier.append(x)

In [160]:
print('Outliers in beer servings data are:')
outlier_b

Outliers in beer servings data are:

[]

2. Spirit Servings

In [161]:
Q1 = np.percentile(data['spirit_servings'],25, interpolation='midpoint')
Q2 = np.percentile(data['spirit_servings'],50, interpolation='midpoint')
Q3 = np.percentile(data['spirit_servings'],75, interpolation='midpoint')

In [162]:
IQR  = Q3 - Q1
print(IQR)

123.0

In [163]:
low_lim = Q1-1.5*IQR
up_lim = Q3+1.5*IQR

In [164]:
print(low_lim)
print(up_lim)

-179.5
312.5

In [165]:
outlier = []
for x in data['spirit_servings']:
  if((x>up_lim) or (x<low_lim)):
    outlier.append(x)

In [166]:
print('Outliers in spirit servings data are:')
outlier

Outliers in spirit servings data are:

[373.0, 438.0, 326.0, 326.0, 315.0]

3. Wine Servings

In [167]:
Q1_w = np.percentile(data['wine_servings'],25, interpolation='midpoint')
Q2_w = np.percentile(data['wine_servings'],50, interpolation='midpoint')
Q3_w = np.percentile(data['wine_servings'],75, interpolation='midpoint')

In [168]:
IQR_w  = Q3_w - Q1_w
print(IQR_w)

58.0

In [169]:
low_lim_w = Q1_w-1.5*IQR_w
up_lim_w = Q3_w+1.5*IQR_w

In [170]:
print(low_lim_w)
print(up_lim_w)

-86.0
146.0

In [171]:
outlier_w = []
for x in data['wine_servings']:
  if((x>up_lim) or (x<low_lim)):
    outlier_w.append(x)

In [172]:
print('Outliers in wine servings data are:')
outlier_w

Outliers in wine servings data are:

[370.0, 339.0]

4. Total litres of pure alcohol

In [173]:
Q1_t = np.percentile(data['total_litres_of_pure_alcohol'],25, interpolation='midpoint')
Q2_t = np.percentile(data['total_litres_of_pure_alcohol'],50, interpolation='midpoint')
Q3_t = np.percentile(data['total_litres_of_pure_alcohol'],75, interpolation='midpoint')

In [174]:
IQR_t  = Q3_t - Q1_t
print(IQR_t)

5.9

In [175]:
low_lim_t = Q1_w-1.5*IQR_t
up_lim_t = Q3_w+1.5*IQR_t

In [176]:
print(low_lim_t)
print(up_lim_t)

-7.850000000000001
67.85

In [177]:
outlier_t = []
for x in data['total_litres_of_pure_alcohol']:
  if((x>up_lim) or (x<low_lim)):
    outlier_t.append(x)

In [178]:
print('Outliers in total litres of pure alcohol data are:')
outlier_t

Outliers in total litres of pure alcohol data are:

[]